.textarea {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #d4c4bc;
    border-bottom: 2px solid #a38b80;
    border-radius: 2px 2px 0 0;
    color: #512b2b;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
}

.textarea-message {
    text-align: start;
}

.tooltip-info {
    display: none;
}

.tooltip.active .tooltip-info{

}