.select {
    padding-right: 2.5rem;
    background-color: #fff;
    border: 1px solid #d4c4bc;
    border-bottom: 2px solid #a38b80;
    border-radius: 2px 2px 0 0;
    height: 3rem;
    padding: 0 0.75rem;
    color: #512b2b;
    font-size: 1rem;
    display: block;
    line-height: 1.5;
}